@using MiniBook.Models
@model IEnumerable<SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@*<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner" style="padding:1%">
        <div class="carousel-item active c-item">
            <img src="~/Images/slide1.jpg" class="d-block w-100 c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-4">
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="~/Images/slide2.png" class="d-block w-100  c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-4">
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="~/Images/slide3.png" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-4">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>*@
<div class="h4 pb-2 mb-4  border-bottom border-danger">
    <a style="color: orangered; text-decoration: none" href="@Url.Action("AllBook", "MBook")">Toàn bộ sách</a>
</div>

<div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
    Top 4 sản phẩm bán chạy
</div>
<div class="row ">
    @foreach (var book in Model)
    {
        <div style="padding:5px" class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
            <div class="card container pt-1">
                <a href="@Url.Action("Details", new { id = book.IDSach })">
                    <img class="card-img-top " src="~/Images/@book.AnhMinhHoa" width="150" height="250">
                </a>
                <div class="card-body" style="text-align: center">
                    <div style="height:70px"><h6 class="card-title text">@book.TenSach</h6></div>
                    <p class="card-text">@string.Format("{0:#,##0}", book.GiaBan) vnd</p>
                    <a class="btn btn-outline-warning" href="#!">Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
    }
</div>

@*@Url.Action("ThemSanPhamVaoGio","GioHang", new {IDSach=book.IDSach})*@