@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    @using (Html.BeginForm("Login", "Customer"))
    {
        @Html.ValidationSummary(true)
        <section class="vh-100" style="background-image: url('@Url.Content("~/Images/anh9.gif")'); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5">
                                <h3 class="mb-5 text-center">Đăng nhập</h3>
                                @if (TempData["Message"] != null)
                                {
                                    <div class="alert alert-success text-center">
                                        @TempData["Message"]
                                    </div>
                                }
                                <div class="form-outline mb-4">
                                    <label class="form-label text-start">Tên đăng nhập</label>
                                    <input name="TenDangNhap" type="text" class="form-control form-control-lg" required />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label text-start">Mật khẩu</label>
                                    <input name="MatKhau" type="password" class="form-control form-control-lg" required />
                                </div>
                                <div class="form-outline mb-4 text-center">
                                    <label class="form-label text-start">Bạn chưa có tài khoản? </label>
                                    <a href="~/Customer/Register">Đăng kí</a>
                                </div>
                                <div class="form-outline mb-4 text-center">
                                    <a href="~/Customer/ResetPassword">Quên mật khẩu?</a>
                                </div>
                                <div class="justify-content-center text-center">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Đăng nhập</button>
                                </div>
                                <h4 style="color: red; text-align: center">@ViewBag.ThongBao</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
</html>
