@model MiniBook.Models.THELOAI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Chi tiết</h2>
<hr />
<div>
    <div class="dl-horizontal">
        <div class="row">
            <div class="col-md-3 row-title">
                Tên thể loại:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.TenTheLoai)
            </div>
        </div>


    </div>
</div>
<p class="form-actions no-color" style="text-align:center; padding-top: 20px">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDTheLoai }, new { @class = "btn btn-outline-warning" }) |
    @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-outline-secondary" })
</p>
