
@{
    ViewBag.Title = "HoanThanhDonHang";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h2 style="text-align: center; margin-top: 300px; margin-bottom: 300px">Đơn hàng đã được đặt! Nhân viên sẽ liên hệ đến bạn trong thời gian sớm nhất</h2>

